 * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #f9b9b7;
	font-family: sans-serif;
	transition: background 0.4s ease;
}

.body--active {
	background-color: #c5e5e0;
}

.header__content {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
}
.header__title {
	font-size: 50px;
	margin-bottom: 10px;
}

.header__subtitle {
	font-style: 22px;
}

.page {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.page__content {
	text-align: center;
	width: 70%;
}

.page__title {
	margin-bottom: 20px;
	font-size: 30px;
}

.page__img {
	height: 70%;
	width: 90%;
	object-fit: cover;
}
